.content-tutorial{
    display: flex;
    justify-content: center;
}


.section-text{
    color: #000;
    font-size: 24px;
    font-weight: 500;
    width: 500px;
    height: auto;
    margin-top: 40px;
    margin-bottom: auto;
}

.video_tutorial {
   
    background-color: darkslategrey;

}

@media screen and (max-width:400px) {
    
    .content-tutorial{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    
    .section-text{
        color: #000;
        font-size: 24px;
        font-weight: 500;
        width: 500px;
        height: auto;
        margin-top: 40px;
        margin-bottom: auto;
    }
    
    .video_tutorial {
        margin-left: 50px;
        padding-top: 0px;
       width: calc(100% - 50px);
    }
}




div.video{
    background-color: darkolivegreen;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video  iframe{
position: absolute;
}