body{
    background-image: url("fundo.png");
    background-repeat:repeat
}

.content{
    height:auto;
    width: 800px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    margin-bottom: 80px;
    background-color:rgba(228,228,228,0.7);
}

.about-text{
    width: 800px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 24px;
    justify-content: center;
    padding-bottom: 50px;

}

.about-title{
    color: var(--color-moss-green);
    margin:50px 52px;
    font-size: 30px;
    align-items: center;
}

.about-text p{
    margin: 24px 52px;
    align-self: start;
}

footer{
    width: 100%;
    margin-bottom: auto;
}




@media screen and (max-width: 450px) {
    .content {
        padding: 0 5px; /* Adjusted padding */
        width: auto;
    }

    .about-text {
        font-size: 20px; /* Adjusted font size */
        width: fit-content;
    }

    .about-title {
        margin: 10px ; /* Adjusted margin */
        font-size: 26px; /* Adjusted font size */
    }

    .about-text p {
        max-width: 600px; /* Adjusted max-width */
    }


}