header{
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: var(--color-background);
    z-index: 3;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navlogo{
    background:var(--color-hunter-green);
    background-clip: text;
    color: transparent;
}

.navlist{
    display: flex;
    list-style: none;
    gap:48px;
}

.navitem a, .btn-default a{
    text-decoration: none;
    color: var(--color-black);
    font-weight: 600;
}

.btn-default a{
    text-decoration: none;
    color: var(--white-color);
    font-weight: 600;
}

.navitem.active a{
    color: var(--color-moss-green);
    border-bottom: 3px solid var(--color-moss-green);
}

.navitem a:hover{
    color:var(--color-moss-green);
}

#mobile_btn{
    display: none;
}

#mobile_menu{
    display: none;
}

/*RESPONSIVIDADE*/

@media screen and (max-width:1170px) {
    .navlist,#navbar .btn-default{
        display:none;
    }

    #mobile_btn{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .mobile_navlist{
        display: flex;
        flex-direction: column;
        gap:24px ;
        margin: 12px 0px;
    }

    .mobile_navlist .navitem{
        list-style: none;
        text-align: center;
    }

}