#tutorial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.content-tutorial{
    display: flex;
    justify-content: center;
    border-radius: 40px;
    padding: 120px;
}


.section-text{
    color: #000;
    font-size: 24px;
    font-weight: 500;
    width: 500px;
    height: auto;
    margin-top: 40px;
    margin-bottom: auto;
}

.video_tutorial {
    margin-left: 50px;
    padding-top: 0px;

}

    
    
    .section-text{
        color: #000;
        font-size: 24px;
        font-weight: 500;
        width: 500px;
        height: auto;
        margin-top: 40px;
        margin-bottom: auto;
    }
    
    
    @media screen and (max-width:450px) {
        
        .content-tutorial{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        
        .section-text{
            color: #000;
            font-size: 20px;
            font-weight: 500;
            width: fit-content;
            height: auto;
            align-items: center;
            margin-top: 40px;
            margin-bottom:24px;
        }
    
        iframe{
            width:max-content;
        }
    }
    
    
    
    

    
    @media screen and (max-width:800px) {
        .content-tutorial{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        
        
        .section-text{
            color: #000;
            font-size: 24px;
            font-weight: 500;
            width: 600px;;
            height: auto;
            align-items: center;
            margin-top: 40px;
            margin-bottom:24px;
        }
        
        iframe{
            width: 600px;
        }
    }
    